<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AniMaIndex.Properties.Settings.AniMaIndexConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\AniMaIndex.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="AniMaIndex.Properties.Settings.AniMaIndexConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=J:\Datab\Design\AniMaIndex\AniMaIndex.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>